canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
    background-color: tan;
}

body {
    background-image: url(../Assets/background.jpg);
}